[submodule "integration/duckdb_lance/duckdb"]
	path = integration/duckdb_lance/duckdb
	url = https://jihulab.com/yh-public/duckdb.git
[submodule "integration/duckdb_lance/duckdb-ext/duckdb"]
	path = integration/duckdb_lance/duckdb-ext/duckdb
	url = https://jihulab.com/yh-public/duckdb.git
